<div class="page-header">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Paw_%28Animal_Rights_symbol%29.svg/500px-Paw_%28Animal_Rights_symbol%29.svg.png" class="logo pull-left">
  <h1 class="pull-left">Awesome Dog App!</h1>
</div>

<nav class="navbar navbar-default">
  <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav">
      <li><a routerLink="random" routerLinkActive="active">Random Image</a></li>
      <li><a routerLink="breeds" routerLinkActive="active">Breeds</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>