<div class="page-header">
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/90/WikiProject_-_Warriors.svg/1280px-WikiProject_-_Warriors.svg.png" class="logo pull-left">
  <h1 class="pull-left">Awesome Animal App!</h1>
</div>

<nav class="navbar navbar-default">
  <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav">
      <li><a routerLink="random" routerLinkActive="active">Random Image</a></li>
      <li><a routerLink="breeds" routerLinkActive="active">Breeds</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>